@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root{
    --primary_color: #4F98CA;
    --secoundary_color: #2b3439;
    --dark:#272727;
    --white:#EFFFFB;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}




nav h1{
    font-family: open-sans;
    font-size:1.5rem;
    font-weight: 700;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: var(--white);
  }
  
  nav p{
    font-family: sans-serif;
    font-size:.8rem;
    color:var(--dark);
    margin:0 0 10px 0;
  }
  
  nav{
    background:var(--secoundary_color);
    padding:10px 100px;
    box-shadow: 0px 3px 2px 0px #419048;
  }

.flex{
    display:flex;
  }
  
  .align-center{
    align-items:center;
  }
  
  .justify-between{
    justify-content:space-between;
  }
  
  .flex-row{
    flex-direction:row;
  }
  
  .flex-row{
    flex-direction:row;
  }

  .home-img{
    height: 80vh;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: contain;
    filter: grayscale(.2);
    }


.btn{
    background-color: var(--secoundary_color);
    margin: 0px 10px;
    padding: 5px 12px;
    border-radius: 2px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--primary_color);
}

.container{
    height: 85vh;
    /* background-color: red; */
    padding: 0px 50px;
}


.home-img{  
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(.2);
    }

.main-content{
    position: absolute;
    font-size: 2rem;
    color: white;
    left: -593px;
    top: 404px;
    padding: 0px 735px;
}
.right{
    /* position: absolute; */
    font-size: 8rem;
    color: white;
    margin: -40px 0px;
    /* left: 130px;
    top: 300px; */
}

.left{
    margin: 60px 0px;
}

.top{
    position: absolute;
    top:10px;
    left:10px;
}

.top h1{
    position: absolute;
    font-family: open-sans;
    font-size:3rem;
    font-weight: 500;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 900;
    color: var(--white);
    top:100px;
    left:100px;
}

.top .buttons{
    position: relative;
    top:300px;   
    left:100px;
}
